/*
##########################################################################################################



#   #   #   #########   #            #######    #######    #       #   #########
#   #   #   #           #           #          #       #   # #   # #   #
#   #   #   #####       #           #          #       #   #  # #  #   #####
#   #   #   #           #           #          #       #   #       #   #
 ### ###    #########   #########    #######    #######    #       #   #########



#       #   #######        #######        #      ########      #
# #   # #   #      #       #      #      # #           #      # #
#  # #  #   #######        #######      #####        #       #####
#       #   #     #        #      #    #     #     #        #     #
#       #   #      #   #   #       #   #     #   ########   #     #



##########################################################################################################
*/

.sm-rectangle {
	width: 20px;
	height: 20px;
}

/* Background Colors */
.bg-f123 { /* f1f2f3 for life */ 
	background-color: #f1f2f3;
}

.bg1 {
	background-color: var(--bg-color, #f6f8fa); /*Same as this:  background-color: #f6f8fa; */
}

.bg2 {
	background-color: rgb(67, 206, 162);
	color: white;
}

.bg3 {
	background-color: #28a745!important; /* Green */;
	color: white;
}

.bg4 {
	background-color: #77aee7!important;
	color: white;
}

.bg5 {
	background-color: rgb(204, 255, 204);
	color: black;
}

.bg6 {
	background-color: #33d6ff; 
	color: white;
}

.bg7 {
	background-color: rgb(24, 90, 157);
	color: white;
}

.bg {
	border: ;
}